{
  "extends": ["@copiest/eslint-config-copiest/react"],
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "import/order": [
      "error",
      {
        "groups": ["external", "builtin", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "next",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "next/**",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "#/**",
            "group": "parent",
            "position": "before"
          }
        ],
        "newlines-between": "always"
      }
    ]
  },
  "env": {
    "jest": true
  },
  "plugins": ["jest"]
}
